<section class="py-4" [style.backgroundColor]="'#846C5B'">
    <div class="container">
        <h1 class="text-center">Admin Page</h1>
        <div class="d-flex justify-content-between min-vh-100">
            <div class="rounded-3 rounded-end-0" [style.backgroundColor]="'#332E3C'">
                <ul class="list-unstyled h-100 mb-0 p-2">
                    <li>
                        <a
                            class="btn rounded-3 my-2 text-light"
                            routerLinkActive="bg-warning text-black"
                            routerLink="./dashboard"
                            >Dashboard</a
                        >
                    </li>
                    <li>
                        <a
                            class="btn rounded-3 my-2 text-light"
                            routerLinkActive="bg-warning text-black"
                            routerLink="./orders"
                            >Orders</a
                        >
                    </li>
                    <li>
                        <a
                            class="btn rounded-3 my-2 text-light"
                            routerLinkActive="bg-warning text-black"
                            routerLink="./products"
                            >Products</a
                        >
                    </li>
                </ul>
            </div>
            <div class="flex-grow-1 rounded-start-0 rounded-3" [style.backgroundColor]="'#B3A4A2'">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>
