<!-- <div class="">
  
  <div class="flex items-center justify-center text-black bg-gray-200">
    <router-outlet />
  </div>
</div> -->

<section class="py-5">
  <h2 class="pb-6 text-4xl font-bold text-center">Dep.Business</h2>
  <!-- <h2 class="mb-16 text-4xl font-bold text-center">Department fo Engineering</h2> -->

  <div class="grid grid-cols-12">
    <div class="col-span-4">
      <ul class="relative flex flex-col items-center">
        <li class="w-11/12 mx-auto">
          <div
            class="inline-flex items-center p-2 my-1.5 text-center bg-red-300 border-2 border-transparent hover:bg-red-600 hover:border-red-800 rounded-xl"
            routerLinkActive="text-black font-semibold bg-red-600 border-red-800"
          >
            <a
              class=""
              routerLinkActive="text-black font-semibold bg-red-600 border-red-800"
              routerLink="./finance"
            >
              Finance
            </a>

            <button
              (click)="computerScienceToggle()"
              class="border-red-900 rounded ms-2 group hover:bg-red-800"
              type="button"
            >
              <i class="fa-solid fa-angles-right"></i>
            </button>
          </div>
          <ul class="flex flex-col w-3/4 mx-auto items-cente" [class.hidden]="csToggleFlag">
            <li class="inline-block w-full text-center">
              <a
                class="inline-block w-full p-2 my-1.5 text-center bg-red-300 border-2 border-transparent hover:bg-red-600 hover:border-red-800 rounded-xl"
                routerLinkActive="text-black font-semibold bg-red-600 border-red-800"
                routerLink="./finance/undergrad"
                >undergrad</a
              >
            </li>
            <li class="inline-block w-full">
              <a
                class="inline-block w-full p-2 my-1.5 text-center bg-red-300 border-2 border-transparent hover:bg-red-600 hover:border-red-800 rounded-xl"
                routerLinkActive="text-black font-semibold bg-red-600 border-red-800"
                routerLink="./finance/masters"
                >masters</a
              >
            </li>
          </ul>
        </li>

        <li class="w-11/12 mx-auto">
            <a
            class="inline-flex items-center p-2 my-1.5 text-center bg-red-300 border-2 border-transparent hover:bg-red-600 hover:border-red-800 rounded-xl"
              routerLinkActive="text-black font-semibold bg-red-600 border-red-800"
              routerLink="./marketing"
            >
              Marketing
            </a>
        </li>
      </ul>
    </div>
    <div class="col-span-8">
      <router-outlet />
    </div>
  </div>
</section>
