<section class="fixed top-0 left-0 right-0 z-50 transition-all duration-1000 bg-emerald-100">
  <div class="w-11/12 mx-auto">
    <div class="relative flex items-center justify-between py-2">
      <div class="whitespace-nowrap">
        <a routerLink="" class="font-bold">Week06-Tailwind</a>
      </div>
      <div
        #navLinks
        class="absolute hidden w-screen lg:block lg:relative top-10 lg:top-0"
        [ngClass]="{ hidden: toggle }"
      >
        <ul class="flex flex-col items-center justify-between lg:flex-row lg:justify-end">
          <li
            class="px-2 py-1 mx-1 rounded-md hover:bg-emerald-300"
            [routerLinkActive]="'font-bold bg-emerald-400'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="nav-bars">Nav-bars</a>
          </li>
          <li
            class="px-2 py-1 mx-1 rounded-md hover:bg-emerald-300"
            [routerLinkActive]="'font-bold bg-emerald-400'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="flexBox-grid">Flexbox & Grid</a>
          </li>
          <li
            class="px-2 py-1 rounded-md hover:bg-emerald-300"
            [routerLinkActive]="'font-bold bg-emerald-400'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="flowbite">Flowbite</a>
          </li>
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
        </ul>
      </div>
      <div class="lg:hidden me-5">
        <button (click)="showNavLinks()"><i class="fa-solid fa-bars"></i></button>
      </div>
    </div>
  </div>
</section>
