<nav class="text-white bg-black">
  <div class="container w-11/12 mx-auto">
    <div class="flex items-center justify-between">
      <div class="p-2 text-2xl">
        <span>Tailwind3-app</span>
      </div>
      <div>
        <ul class="flex items-center justify-end">
          <li class="p-2">
            <a
              class="p-1 text-2xl rounded-xl"
              routerLink="/"
              routerLinkActive="bg-cyan-500 text-black"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="p-2">
            <a
              class="p-1 text-2xl rounded-xl"
              routerLink="core-concept"
              routerLinkActive="bg-cyan-500 text-black"
              >Core Concepts</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
