<section class="fixed transition-all duration-1000 bg-emerald-100">
  <div class="w-screen">
    <div class="relative flex items-center justify-between py-2">
      <div class="m-0 lg:mx-10 whitespace-nowrap">
        <a routerLink="" class="font-bold">Week06-Tailwind</a>
      </div>
      <div
        #navLinks
        class="absolute hidden w-screen lg:block lg:relative top-10 lg:top-0"
        [ngClass]="{ hidden: toggle }"
      >
        <ul class="flex flex-col items-center justify-between lg:pe-10 lg:flex-row lg:justify-end">
          <li
            class="px-2 py-1 rounded-md hover:bg-emerald-300"
            [routerLinkActive]="'font-bold bg-emerald-400'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="coreConcepts">Core Concepts</a>
          </li>
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link02</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link03</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
          <!-- <li class="px-2 py-1 rounded-md hover:bg-emerald-300" [routerLinkActive]="'font-bold bg-emerald-400'" [routerLinkActiveOptions]="{exact:true}"><a  routerLink="">link04</a></li> -->
        </ul>
      </div>
      <div class="lg:hidden me-5">
        <button (click)="showNavLinks()"><i class="fa-solid fa-bars"></i></button>
      </div>
    </div>
  </div>
</section>

