<section class="py-5">
    <div class="container py-4">
        <h2 [class.text-center]="true" class="fw-bold">HostListener</h2>


        <h3 class="text-center">change color upon resizing</h3>
        <p class="bg-info p-4" [class]="p1newClasses">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, ea sequi fuga quidem
            accusamus quis delectus beatae temporibus quas esse, voluptas similique rerum impedit
            eius ipsam maxime corrupti necessitatibus voluptates?
        </p>

        <h3 class="text-center">change width upon click, dblclick and auxclick </h3>
        <p class="bg-warning p-4 {{p2Width}}">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, ea sequi fuga quidem
            accusamus quis delectus beatae temporibus quas esse, voluptas similique rerum impedit
            eius ipsam maxime corrupti necessitatibus voluptates?
        </p>

        <h3 class="text-center">change color upon scroll</h3>
        <p class="{{p3BgColor}} p-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus illum in aliquam
            ducimus. Magnam dolorum minima facere? Ipsum, minima, doloribus tempora in, suscipit
            esse itaque quam obcaecati blanditiis nemo totam consectetur repudiandae illum
            repellendus voluptate. Ullam placeat perspiciatis vero sequi corporis repellat!
            Perferendis, enim error sequi quasi quae incidunt placeat! Eos, quo numquam! Tenetur eos
            unde, incidunt delectus quos nam aut dolores optio non impedit repudiandae qui,
            doloribus quas. Fugit ea error sunt molestias, facilis excepturi corporis dolore
            voluptates quidem!
        </p>
    </div>
</section>
