<!-- >> Intro content -->
<!-- * recap and basic routing -->
<!--  todo 01: create the given task in public images folder ✅-->
<!--  todo 02: apply the student feedback applying in the session  
        -- take the feedback from user into the ts file ✅
        -- view the given feedback on the website again ✅
        -- replace the view feedback into a char indicator ✅
        -- change the character indicator to a progress bar ✅-->
<!--  todo 03: redo the feedback applying using the 2 way data binding aka "banana in the box" ❓-->
<!--  todo 04: save email and password from the user and using two-way data binding view it in the console ❓-->
<!--  todo 05: create a basic routing for all the components including the "emptyPaths" and the "wrongPaths❓"-->
<!--  todo 05.1: explain the following: [flex-grow-0 vs flex-grow-1] ❓-->
<!--  todo 05.2: when do we use the "redirectTo" [emptyPaths, not-foundPaths, updatedPaths, callbacks-forAnalysis] ❓-->

<section #Intro class="pb-5">
    <div class="container">
        <div class="p-3 text-center">
            <h1>Recap and basic routing</h1>
        </div>
        <div class="p-3 rounded bg-primary">
            <h4>1- Student Feedback using binding + $event to communicate:</h4>
            <div class="">
                <div class="row">
                    <div class="col-6">
                        <textarea
                            class="form-control"
                            name=""
                            id=""
                            rows="8"
                            placeholder="Please give us your thoughts..."
                            (keyup)="readInput($event)"
                        ></textarea>
                    </div>
                    <div class="col-6 rounded bg-warning-subtle" [class.d-none]="isShow">
                        <p class="text-break">{{ textAreaInput }}</p>
                    </div>
                </div>

                <div class="py-3 w-50 me-auto">
                    <div class="">
                        <div class="progress">
                            <div
                                class="progress-bar bg-warning"
                                [style.width.%]="(textAreaInput.length / 200) * 100"
                            ></div>
                        </div>
                        <div class="d-flex">
                            <span class="d-inline-block ms-auto"
                                >{{ textAreaInput ? textAreaInput.length : '0' }} / 200</span
                            >
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <button class="btn btn-danger mt-0 mx-1" (click)="toggleShow()">
                        Show/Hide Feedback
                    </button>
                    <div class="d-none" [class.d-none.d-flex]="textAreaInput.length >= 150 ? false : true">
                        <button class="btn btn-success mt-0 mx-1">Submit</button>
                        <span class="fw-bold">thank you 🌹🌹</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
