<br /><br /><br />
<!-- Modal toggle -->
<button
  data-modal-target="defaultModal"
  data-modal-toggle="defaultModal"
  class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  type="button"
>
  Toggle modal
</button>

<!-- Main modal -->
<div
  id="defaultModal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-start justify-between p-4 border-b border-gray-200 rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Terms of Service</h3>
        <button
          type="button"
          class="inline-flex items-center justify-center w-8 h-8 ml-auto text-sm text-gray-400 bg-transparent rounded-lg hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="defaultModal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          With less than a month to go before the European Union enacts new consumer privacy laws
          for its citizens, companies around the world are updating their terms of service
          agreements to comply.
        </p>
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
          The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May
          25 and is meant to ensure a common set of data rights in the European Union. It requires
          organizations to notify users as soon as possible of high-risk data breaches that could
          personally affect them.
        </p>
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          data-modal-hide="defaultModal"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          I accept
        </button>
        <button
          data-modal-hide="defaultModal"
          type="button"
          class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
        >
          Decline
        </button>
      </div>
    </div>
  </div>
</div>

<div id="accordion-card" data-accordion="collapse">
  <h2 id="accordion-card-heading-1">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body rounded-base shadow-xs border border-default hover:text-heading hover:bg-neutral-secondary-medium gap-3 [&[aria-expanded='true']]:rounded-b-none [&[aria-expanded='true']]:shadow-none"
      data-accordion-target="#accordion-card-body-1"
      aria-expanded="true"
      aria-controls="accordion-card-body-1"
    >
      <span>What is Flowbite?</span>
      <svg
        data-accordion-icon
        class="w-5 h-5 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m5 15 7-7 7 7"
        />
      </svg>
    </button>
  </h2>
  <div
    id="accordion-card-body-1"
    class="hidden border border-t-0 shadow-xs border-default rounded-b-base"
    aria-labelledby="accordion-card-heading-1"
  >
    <div class="p-4 md:p-5">
      <p class="mb-2 text-body">
        Flowbite is an open-source library of interactive components built on top of Tailwind CSS
        including buttons, dropdowns, modals, navbars, and more.
      </p>
      <p class="text-body">
        Check out this guide to learn how to
        <a href="/docs/getting-started/introduction/" class="text-fg-brand hover:underline"
          >get started</a
        >
        and start developing websites even faster with components on top of Tailwind CSS.
      </p>
    </div>
  </div>

  <h2 id="accordion-card-heading-2" class="mt-4">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body rounded-base shadow-xs border border-default hover:text-heading hover:bg-neutral-secondary-medium gap-3 [&[aria-expanded='true']]:rounded-b-none [&[aria-expanded='true']]:shadow-none"
      data-accordion-target="#accordion-card-body-2"
      aria-expanded="false"
      aria-controls="accordion-card-body-2"
    >
      <span>Is there a Figma file available?</span>
      <svg
        data-accordion-icon
        class="w-5 h-5 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m5 15 7-7 7 7"
        />
      </svg>
    </button>
  </h2>
  <div
    id="accordion-card-body-2"
    class="hidden border border-t-0 shadow-xs border-default rounded-b-base"
    aria-labelledby="accordion-card-heading-2"
  >
    <div class="p-4 md:p-5">
      <p class="mb-2 text-body">
        Flowbite is first conceptualized and designed using the Figma software so everything you see
        in the library has a design equivalent in our Figma file.
      </p>
      <p class="text-body">
        Check out the
        <a href="https://flowbite.com/figma/" class="text-fg-brand hover:underline"
          >Figma design system</a
        >
        based on the utility classes from Tailwind CSS and components from Flowbite.
      </p>
    </div>
  </div>

  <h2 id="accordion-card-heading-3" class="mt-4">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-body rounded-base shadow-xs border border-default hover:text-heading hover:bg-neutral-secondary-medium gap-3 [&[aria-expanded='true']]:rounded-b-none [&[aria-expanded='true']]:shadow-none"
      data-accordion-target="#accordion-card-body-3"
      aria-expanded="false"
      aria-controls="accordion-card-body-3"
    >
      <span>What are the differences between Flowbite and Tailwind UI?</span>
      <svg
        data-accordion-icon
        class="w-5 h-5 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m5 15 7-7 7 7"
        />
      </svg>
    </button>
  </h2>
  <div
    id="accordion-card-body-3"
    class="hidden border border-t-0 shadow-xs border-default rounded-b-base"
    aria-labelledby="accordion-card-heading-3"
  >
    <div class="p-4 md:p-5">
      <p class="mb-2 text-body">
        The main difference is that the core components from Flowbite are open source under the MIT
        license, whereas Tailwind UI is a paid product. Another difference is that Flowbite relies
        on smaller and standalone components, whereas Tailwind UI offers sections of pages.
      </p>
      <p class="mb-2 text-body">
        However, we actually recommend using both Flowbite, Flowbite Pro, and even Tailwind UI as
        there is no technical reason stopping you from using the best of two worlds.
      </p>
      <p class="mb-2 text-body">Learn more about these technologies:</p>
      <ul class="list-disc ps-5 text-body">
        <li>
          <a href="https://flowbite.com/pro/" class="text-fg-brand hover:underline">Flowbite Pro</a>
        </li>
        <li>
          <a href="https://tailwindui.com/" rel="nofollow" class="text-fg-brand hover:underline"
            >Tailwind UI</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
