<section class="bg-lime-100">
  <div class="w-11/12 mx-auto">
    <h2 class="py-4 text-4xl text-center">1- FlexBox Playground</h2>

    <!-- >> FlexBox Summary:
  *when dealing with flexbox you need to know what classes goes for parent and what goes for children

  ?Parent Classes [7 total]:
    -- flexDisplay: the way the flexbox gonna display its items
    -- flexDirection: in what direction the flexbox gonna display its items
    -- flexWrapping: are the items gonna be wrapped to next line or not?
    -- flexJustifyContent: control the spaces between flexItems on the MainAxis.
    -- flexAlignItems: control the space between flexItems in the CrossAxis.
    -- flexAlignContent: if there is a wrap happened, it controls the space between the lines of wrapped items
    -- flexGap: Creates a gap between the flexItems its like magic always find its way to make it happen.
    
  todo: the flexbox child classes
  ?Child Classes [5 total];
    -- Order: override the default order of showing flexItems.
    -- flexGrow: the child who has it will grow relatively to other items and fill up the free spaces if it's available.
    -- flexShrink: Child who has it will be the first to shrink himself "relatively to other flexItems"
          -if the spaces are smaller than the overall spaces needed for all flexItems.
    -- flexBasis: define the initial size of each flexItem.
    -- flexAlignSelf: acts like a disobedient child and align itself on the crossAxis with its own mind.
-->
    <!-- Align Content -->
    <!-- Only applies when flex-wrap: wrap AND multiple lines -->
    <div class="flex flex-wrap items-center content-center justify-center h-64 bg-red-300 gap-7">
      <div class="w-1/5 bg-yellow-100">Item 1</div>
      <div class="w-1/5 bg-yellow-200">Item 2</div>
      <div class="w-1/5 bg-yellow-300">Item 3</div>
      <div class="w-1/5 bg-yellow-400">Item 4</div>
      <div class="w-1/5 bg-yellow-500">Item 5</div>
      <div class="w-1/5 bg-yellow-600">Item 6</div>
    </div>
    <br />
    <div
      class="flex flex-wrap items-start content-center gap-6 p-8 align-middle rounded-md bg-cyan-100"
    >
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 1
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 2
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 3
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 4
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 5
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 6
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 7
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 8
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 9
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 10
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 11
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 12
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 13
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 14
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 15
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 16
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 17
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 18
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 19
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 20
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 21
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 22
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 23
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 24
      </div>
      <div
        class="px-3 py-2 transition-all duration-300 rounded-md ring-1 hover:ring-2 ring-indigo-600 hover:bg-indigo-400 hover:cursor-pointer hover:text-white"
      >
        cardTitle 25
      </div>
    </div>
    <br /><br />
    <div class="inline-flex flex-wrap p-5 rounded-lg gap-9 bg-amber-200">
      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group ring-2 hover:bg-gray-700 ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn1</p>
        </button>
      </div>
      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group group-btn :hover:text-blue-600 ring-2 hover:bg-gray-700 hover:text-white ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn1</p>
        </button>
      </div>
      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group group-btn :hover:text-blue-600 ring-2 hover:bg-gray-700 hover:text-white ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn1</p>
        </button>
      </div>
      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group group-btn :hover:text-blue-600 ring-2 hover:bg-gray-700 hover:text-white ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn1</p>
        </button>
      </div>
      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group group-btn :hover:text-blue-600 ring-2 hover:bg-gray-700 hover:text-white ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn1</p>
        </button>
      </div>
      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group group-btn :hover:text-blue-600 ring-2 hover:bg-gray-700 hover:text-white ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn1</p>
        </button>
      </div>
      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group group-btn :hover:text-blue-600 ring-2 hover:bg-gray-700 hover:text-white ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn1</p>
        </button>
      </div>
      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group group-btn :hover:text-blue-600 ring-2 hover:bg-gray-700 hover:text-white ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn1</p>
        </button>
      </div>
      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group group-btn :hover:text-blue-600 ring-2 hover:bg-gray-700 hover:text-white ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn1</p>
        </button>
      </div>
      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group group-btn :hover:text-blue-600 ring-2 hover:bg-gray-700 hover:text-white ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn1</p>
        </button>
      </div>
      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group group-btn :hover:text-blue-600 ring-2 hover:bg-gray-700 hover:text-white ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn1</p>
        </button>
      </div>

      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group group-btn :hover:text-blue-600 ring-2 hover:bg-gray-700 hover:text-white ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn2</p>
        </button>
      </div>
      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group group-btn :hover:text-blue-600 ring-2 hover:bg-gray-700 hover:text-white ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn3</p>
        </button>
      </div>
      <div class="">
        <button
          class="inline-flex items-center justify-center gap-2 px-2 py-2 mx-2 bg-gray-400 rounded-lg group group-btn :hover:text-blue-600 ring-2 hover:bg-gray-700 hover:text-white ring-black"
        >
          <i class="fa-solid fa-circle group-hover:text-emerald-500"></i>
          <p class="group-hover:text-white">btn4</p>
        </button>
      </div>
    </div>
  </div>
  <!-- todo: peer and group in tailwindcss
    *create a div has 4 radial options
    *when each option is checker it changes its style
    * and shows a specific paragraph for it-->

  <div class="w-11/12 mx-auto">
    <h2 class="text-4xl text-center py-7">2- Tailwind Group and Peer</h2>
    <!-- radial inputs -->
    <!-- <div class="flex py-6 gap-x-3"> -->
    <input
      class="p-1 mx-2 rounded-lg size-4 accent-sky-700 peer/option1 hover:cursor-pointer hover:bg-sky-500 gap-x-2"
      type="radio"
      name="type1"
      id="option1"
    />
    <label
      for="option1"
      class="cursor-pointer peer-checked/option1:text-sky-800 peer-checked/option1:font-semibold"
      >option1</label
    >
    <input
      class="p-1 mx-2 rounded-lg size-4 accent-yellow-700 peer/option2 hover:cursor-pointer hover:bg-yellow-500 gap-x-2"
      type="radio"
      name="type1"
      id="option2"
    />
    <label
      for="option2"
      class="cursor-pointer peer-checked/option2:text-yellow-800 peer-checked/option2:font-semibold"
      >option2</label
    >
    <input
      class="p-1 mx-2 rounded-lg size-4 accent-red-700 peer/option3 hover:cursor-pointer hover:bg-red-500 gap-x-2"
      type="radio"
      name="type1"
      id="option3"
    />
    <label
      for="option3"
      class="cursor-pointer peer-checked/option3:text-red-800 peer-checked/option3:font-semibold"
      >option3</label
    >
    <input
      class="p-1 mx-2 rounded-lg size-4 accent-green-700 peer/option4 hover:cursor-pointer hover:bg-green-500 gap-x-2"
      type="radio"
      name="type1"
      id="option4"
    />
    <label
      for="option4"
      class="cursor-pointer peer-checked/option4:text-green-800 peer-checked/option4:font-semibold"
      >option4</label
    >
    <input
      class="p-1 mx-2 rounded-lg size-4 accent-orange-700 peer/option5 hover:cursor-pointer hover:bg-orange-500 gap-x-2"
      type="radio"
      name="type1"
      id="option5"
    />
    <label
      for="option5"
      class="cursor-pointer peer-checked/option5:text-orange-800 peer-checked/option5:font-semibold"
      >option5</label
    >
    <br />
    <!-- </div> -->
    <p class="hidden p-3 mt-2 bg-sky-200 w-fit rounded-xl peer-checked/option1:block">
      1-Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, at?
    </p>
    <p class="hidden p-3 mt-2 bg-yellow-200 w-fit rounded-xl peer-checked/option2:block">
      2-Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, at?
    </p>
    <p class="hidden p-3 mt-2 bg-red-200 w-fit rounded-xl peer-checked/option3:block">
      3-Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, at?
    </p>
    <p class="hidden p-3 mt-2 bg-green-200 w-fit rounded-xl peer-checked/option4:block">
      4-Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, at?
    </p>
    <p class="hidden p-3 mt-2 bg-orange-200 w-fit rounded-xl peer-checked/option5:block">
      5-Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, at?
    </p>
  </div>

  <br /><br />
  <div
    class="relative w-full h-screen bg-fixed bg-center bg-cover"
    [style.backgroundImage]="'url(/images/4.jpg)'"
  >
    <div class="absolute top-0 bottom-0 left-0 right-0 z-0 bg-black/50"></div>
    <div class="relative z-10 text-white">
      <h2 class="text-4xl font-bold text-center text-white">Grid playground</h2>
      <!-- >> Grid Summary:
      ?Parent classes [6 total]:
      -- grid/inline-grid: used to activate the grid system
      -- grid-cols-*/grid-rows-*: used to control how many columns and rows of the grid structure.
      -- grid-flow-*/grid-flow-*-dense: used for normal flow of the cells, or being aggressive to make sure gaps are left to the very end and not in between
      -- gridGap: used to determine the gaps between the cells, as always gap is a magic word it always works.
      -- GridItems: refers to items inside the cells, hence justify-items and align-items affects the content inside the cells themselves.
      -- GridContent: refers to the entire grid system to justify[MainAxis] it or align[CrossAxis] it properly as a whole withe respect to its parent.
      ?Child Classes [6 total]:
      -- *-span-*: change the size of the child cell relative to its current location in the grid.
      -- *-*start-*: change the position on which the cell
      -->

      <div class="relative text-black">
        <!-- PARENT -->
        <div class="grid grid-cols-4 grid-rows-[auto,1fr,auto] gap-4 min-h-screen">
          <!-- CHILD - Header (full width) -->
          <header class="col-span-4 p-4 text-white bg-gray-800">Header</header>

          <!-- CHILD - Sidebar (fixed column) -->
          <aside class="col-span-1 row-span-2 p-4 bg-gray-200">Sidebar</aside>

          <!-- CHILD - Main content (span 3 columns) -->
          <main class="col-span-3 p-4 bg-white">Main Content</main>

          <!-- CHILD - Widget (specific position) -->
          <div class="col-start-2 col-end-4 p-4 bg-yellow-100">Widget</div>

          <!-- CHILD - Footer (full width) -->
          <footer class="col-span-4 p-4 text-white bg-gray-800">Footer</footer>
        </div>
      </div>
      <br /><br />
      <!-- dashboard example to practice Grid -->
      <div class="w-11/12 px-6 py-12 mx-auto bg-gray-200">
        <div class="grid grid-cols-12 gap-2 align-middle grid-flow-dense grid-rows-12">
          <div class="col-span-4 row-span-3 rounded-md shadow-lg bg-gray-50">
            <span class="inline-block px-4 py-2 text-black uppercase">analytics overview</span>
          </div>
          <div class="col-span-6 row-span-6 text-black rounded-md shadow-lg bg-gray-50">
            <span class="inline-block px-4 py-2 text-black uppercase">performance</span>
            
          </div>
          <div class="col-span-2 row-span-1 text-center text-black rounded-md shadow-lg bg-gray-50">
            <span class="inline-block px-4 py-2 text-black uppercase">April 2025 </span>
            
          </div>
          <div class="col-span-4 row-span-5 text-black rounded-md shadow-lg bg-gray-50">
            <span class="inline-block px-4 py-2 text-black uppercase">performance</span>
            
          </div>
          <div class="col-span-2 row-span-5 text-black rounded-md shadow-lg bg-gray-50">
            <span class="inline-block px-4 py-2 text-black uppercase">total orders</span>
            
          </div>
          <div class="col-span-4 row-span-6 text-black rounded-md shadow-lg bg-gray-50">
            <span class="inline-block px-4 py-2 text-black uppercase">visitor acquisition</span>
            
          </div>
          <div class="col-span-4 row-span-6 text-black rounded-md shadow-lg bg-gray-50">
            <span class="inline-block px-4 py-2 text-black uppercase">active users</span>
            
          </div>
          <div class="col-span-4 row-span-4 text-black rounded-md shadow-lg bg-gray-50">
            <span class="inline-block px-4 py-2 text-black uppercase">active users</span>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
