<section class="dark-bg text-white">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-4 text-center py-5">
                <h3 class="text-uppercase">location</h3>
                <p class=".footer-p-font">2215 John Daniel Drive</p>
                <p class=".footer-p-font">Clark, MO 65243</p>
            </div>
            <div class="col-lg-4 py-5 text-center">
                <h3 class="text-uppercase">around the web</h3>
                <div class="d-flex justify-content-center text-white">
                    <div
                        class="circle-effect mx-1 d-flex justify-content-center align-items-center"
                    >
                        <i class="px-1 fa-brands fa-facebook"></i>
                    </div>
                    <div
                        class="circle-effect mx-1 d-flex justify-content-center align-items-center"
                    >
                        <i class="px-1 fa-brands fa-twitter"></i>
                    </div>
                    <div
                        class="circle-effect mx-1 d-flex justify-content-center align-items-center"
                    >
                        <i class="px-1 fa-brands fa-linkedin-in"></i>
                    </div>
                    <div
                        class="circle-effect mx-1 d-flex justify-content-center align-items-center"
                    >
                        <i class="px-1 fa-solid fa-globe"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center py-5">
                <h3 class="text-uppercase">about freelance</h3>
                <p class=".footer-p-font">freelance is free to use, licensed Bootstrap theme created by MahmoudRiad</p>
            </div>
        </div>
    </div>
    <div class="black-bg text-white p-3 text-center footerheder-font">Copyright &copy; Mahmoud Riad 2025</div>
</section>
