<section id="" class="pt-5">
    <div class="container">
        <div class="min-vh-100">
            <h1 class="text-center bg bg-danger m-0 p-2">week02-app works fine!!</h1>
            <h2 class="text-center fs-2 fw-bold bg-warning-subtle m-0 p-2">
                one way data binding example
            </h2>
            <div class="bg-primary-subtle p-3 fs-4">
                <ol>
                    <li>
                        text binding [text interpolation]: <br />
                        "{{ msg }}"
                    </li>
                    <li>hello, {{ userName }}</li>
                    <li>you live in: {{ userAddress }}</li>
                    <li>you are {{ userAge }} years old!</li>
                </ol>
            </div>
        </div>
    </div>
</section>
