<section class="py-5 bg-dark-subtle">
    <div class="d-flex justify-content-center align-items-center">
        <h1 class="text-center fw-bold fs-1 text-capitalize pb-3 py-1">Generate images</h1>
        <!-- <a class="btn btn-primary h-100 mx-2" routerLink="/imageHandling">Generate</a> -->
        <button class="btn btn-primary h-100 mx-2" (click)="createImages()">Generate</button>
    </div>
    <h5 class="text-center pb-3">Task01: render 6 images randomly from the images folder</h5>
    <h5 class="text-center pb-3">Task02: add events using event binding to exchange pics</h5>
    <div class="images text-center">
        <!-- <p>{{ createImages() }}</p> -->
        <div class="main-view">
            <div class="img-card p-4 text-center d-flex justify-content-center">
                <div class="w-50 rounded-4 overflow-hidden">
                    <img class="img-fluid w-100" [src]="images[0]" [alt]="imagesAlts[0]" />
                </div>
            </div>
        </div>
        <!-- <p>images array size is : {{images.length}}</p> -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row justify-content-evenly g-4">
                    <!-- for directive -->
                    @for (i of images.slice(1); track $index) {
                    <img class="col-4 rounded-4 p-2" [src]="i" [alt]="imagesAlts[$index + 1]" />
                    }
                </div>
            </div>
        </div>
    </div>
</section>
