*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bottom-bar img{
    width: 250px;
    transition: transform .25s ease-in;
}
.bottom-bar img:hover{
    cursor: pointer;
    transform: scale(1.05);
}