<section class="py-5 w-100">
    <div class="container py-4">
        <div class="p-3">
            <h1 class="text-center fw-bold">Control Flow</h1>
            <h2 class="text-center">&#64;if , &#64;for and &#64;switch</h2>
        </div>

        <!-- todo 01: create a table that view data from array 'data' and all the contextual variables -->
        <div class="p-4 text-center">
            <h3 class="text-danger">1- &#64;for and the 6 contextual variables:</h3>
        </div>

        <div class="container d-flex justify-content-center">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-info">
                    <thead class="text-center">
                        <tr>
                            <th>#Id</th>
                            <th>Avatar</th>
                            <th>First Name</th>
                            <th>Job title</th>
                            <th>Index</th>
                            <th>Count</th>
                            <th>Odd</th>
                            <th>Even</th>
                            <th>First</th>
                            <th>Last</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @for (person of persons; track $index) {
                        <tr>
                            <th>{{ person.id }}</th>
                            <th><img [src]="person.avatar" alt="" /></th>
                            <th>{{ person.first_name }}</th>
                            <th>{{ person.job_title }}</th>
                            <th>{{ $index }}</th>
                            <th>{{ person.id }} / {{ $count }}</th>
                            <th>{{ $odd }}</th>
                            <th>{{ $even }}</th>
                            <th>{{ $first }}</th>
                            <th>{{ $last }}</th>
                        </tr>
                        }@empty {
                        <div class="alert alert-danger p-5 text-center">
                            <h2>No Data Found</h2>
                        </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <!-- todo 02: create cards to display the fakeUserData -->
        <div class="p-4 pb-0 m-0 text-center">
            <h3 class="text-danger">2- &#64;for with &#64;if condition:</h3>
        </div>
        <div class="container p-5 pt-3">
            <div class="row g-4">
                @for (user of UsersData; track $index) {
                <div class="col-12 col-md-3 col-lg-4 col-xxl-6">
                    @if (user.car_model === null) {
                    <div class="card h-100 rounded-3 bg-danger-subtle p-3 shadow">
                        <div
                            class="d-flex justify-content-evenly align-items-center fw-bold border-bottom border-2 border-dark pb-2 px-0"
                        >
                            <p class="">{{ user.id }}</p>
                            <div class="">
                                <img class="w-100 d-inline-block" [src]="user.avatar" alt="" />
                            </div>
                            <p class="fw-bold">
                                {{ user.first_name + ' ' + user.last_name }}
                            </p>
                        </div>
                        <div class="py-3 px-1">
                            <h5 class="text-center fst-italic">Details</h5>
                            <p>
                                <b>Email:</b> <br />
                                {{ user.email }}
                            </p>
                            <p><b>Gender:</b> {{ user.gender }}</p>
                            <p><b>Ip Address:</b> {{ user.ip_address }}</p>
                            <p>
                                <b>Car Model:</b>
                                {{ user.car_model ? user.car_model : 'Not-Found' }}
                            </p>
                            <p><b>Car VIN:</b> {{ user.car_vin ? user.car_vin : 'Not-Found' }}</p>
                        </div>
                    </div>
                    } @else if (user.car_vin === null){
                    <div class="card h-100 rounded-3 bg-primary-subtle p-3 shadow">
                        <div
                            class="d-flex justify-content-evenly align-items-center fw-bold border-bottom border-2 border-dark pb-2 px-0"
                        >
                            <p class="">{{ user.id }}</p>
                            <div class="">
                                <img class="w-100 d-inline-block" [src]="user.avatar" alt="" />
                            </div>
                            <p class="fw-bold">
                                {{ user.first_name + ' ' + user.last_name }}
                            </p>
                        </div>
                        <div class="py-3 px-1">
                            <h5 class="text-center fst-italic">Details</h5>
                            <p>
                                <b>Email:</b> <br />
                                {{ user.email }}
                            </p>
                            <p><b>Gender:</b> {{ user.gender }}</p>
                            <p><b>Ip Address:</b> {{ user.ip_address }}</p>
                            <p>
                                <b>Car Model:</b>
                                {{ user.car_model ? user.car_model : 'Not-Found' }}
                            </p>
                            <p><b>Car VIN:</b> {{ user.car_vin ? user.car_vin : 'Not-Found' }}</p>
                        </div>
                    </div>
                    } @else {
                    <div class="card h-100 rounded-3 bg-success-subtle p-3 shadow">
                        <div
                            class="d-flex justify-content-evenly align-items-center fw-bold border-bottom border-2 border-dark pb-2 px-0"
                        >
                            <p class="">{{ user.id }}</p>
                            <div class="">
                                <img class="w-100 d-inline-block" [src]="user.avatar" alt="" />
                            </div>
                            <p class="fw-bold">
                                {{ user.first_name + ' ' + user.last_name }}
                            </p>
                        </div>
                        <div class="py-3 px-1">
                            <h5 class="text-center fst-italic">Details</h5>
                            <p>
                                <b>Email:</b> <br />
                                {{ user.email }}
                            </p>
                            <p><b>Gender:</b> {{ user.gender }}</p>
                            <p><b>Ip Address:</b> {{ user.ip_address }}</p>
                            <p>
                                <b>Car Model:</b>
                                {{ user.car_model ? user.car_model : 'Not-Found' }}
                            </p>
                            <p><b>Car VIN:</b> {{ user.car_vin ? user.car_vin : 'Not-Found' }}</p>
                        </div>
                    </div>
                    }
                </div>
                } @empty {
                <div class="alert alert-danger p-5 text-center">
                    <h2>No Data Found</h2>
                </div>
                }
            </div>
        </div>

        <!-- todo 03: create a select options to switch between 4 cases -->
        <div class="p-5 text-center">
            <h3 class="text-danger">3- &#64;Switch</h3>

            <div class="d-flex justify-content-center p-3">
                <select
                    #bgSelection
                    class="form-select w-25 bg-dark text-white p-2 text-center focus-ring focus-ring-light"
                    (change)="changeBgColor(bgSelection.value)"
                >
                    <option value="choose a color" hidden>choose a color</option>
                    <option value="bg0" class="bg-secondary">grey</option>
                    <option value="bg1" class="bg-warning">yellow</option>
                    <option value="bg2" class="bg-danger">red</option>
                    <option value="bg3" class="bg-dark">dark</option>
                    <option value="bg4" class="bg-success">green</option>
                    <option value="bg5" class="bg-info">cyan</option>
                </select>
            </div>

            <!-- dropdownStructure: [dropdown-div, dropdown-toggle-btn, dropdown-menu-ul, li-dropdown-item] -->
            <!-- <div class="d-flex justify-content-center p-3">
                <div class="dropdown-center w-25">
                    <button
                        class="dropdown-toggle btn btn-primary"
                        type="button"
                        data-bs-toggle="dropdown"
                    >
                        choose a color
                    </button>

                    <ul class="dropdown-menu w-100 p-0">
                        <li class="bg-secondary">
                            <a class="dropdown-item p-3"></a>
                        </li>
                        <li class="bg-warning">
                            <a class="dropdown-item p-3"></a>
                        </li>
                        <li class="bg-danger">
                            <a class="dropdown-item p-3"></a>
                        </li>
                        <li class="bg-dark">
                            <a class="dropdown-item p-3"></a>
                        </li>
                        <li class="bg-success">
                            <a class="dropdown-item p-3"></a>
                        </li>
                        <li class="bg-info">
                            <a class="dropdown-item p-3"></a>
                        </li>
                    </ul>
                </div>
            </div> -->

            @switch (bgColor) { @default {
            <h3 class="rounded-4 p-3 bg-secondary" [class]="bgColor">
                this is a one sentence to change its color
            </h3>
            } @case ('bg1') {
            <h3 class="rounded-4 p-3 bg-warning">this is a one sentence to change its color</h3>
            } @case ('bg2') {
            <h3 class="rounded-4 p-3 bg-danger">this is a one sentence to change its color</h3>
            } @case ('bg3') {
            <h3 class="rounded-4 p-3 bg-dark text-white">
                this is a one sentence to change its color
            </h3>
            } @case ('bg4') {
            <h3 class="rounded-4 p-3 bg-success">this is a one sentence to change its color</h3>
            } @case ('bg5') {
            <h3 class="rounded-4 p-3 bg-info">this is a one sentence to change its color</h3>
            } }
        </div>
    </div>
</section>
