<section>
    <div class="container bg-black min-vh-100">
        <div class="text-center text-white py-3">
            <h2>Community home page 🙌🙌</h2>
        </div>
        <div class="title">Level 01 Nested Routing</div>

        <div class="tree">
            <div class="folder">/community</div>
            <div class="indent">
                <div class="folder">/home</div>
                <div class="folder">/posts</div>
                <div class="indent">
                    <div class="file">/featured</div>
                    <div class="file">/recent</div>
                    <div class="file">/popular</div>
                </div>
                <div class="folder">/about</div>
                <div class="folder">/contact</div>
            </div>
        </div>
    </div>
</section>
