.green-bg{
    background-color: #1ABC9C;
}
.star-icon{
    position: relative;
    color: #2C3E50;
}

.star-icon::before{
    content: '';
    background-color: #2C3E50;
    width: 100px;
    height: 3px;

    position: absolute;
    top: 50%;
    left: 52%;

    border-radius: 10px;
}

.star-icon::after{
    content: '';
    background-color: #2C3E50;
    width: 100px;
    height: 3px;

    position: absolute;
    top: 50%;
    right: 52%;

    border-radius: 10px;
}
.card-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1ABA9F;
    opacity: 0;
    transition: opacity 1s ease;
}
.all-cards .inner:hover .card-layer{
    opacity: .9;
    cursor: pointer;
}

