<section class="mt-5 position-relative">
    <div class="container pt-5">
        <div class=" ">
            <h2 class="text-uppercase  fw-bold text-center pt-5">portfolio components</h2>
            <div class="text-center star-icon p-3">
                <i class="fa-solid fa-star  mx-2"></i>
            </div>
        </div>
        <div class="all-cards pt-1 pb-4">
            <div class="row g-5">
                <div class="col-lg-4" (click)="openOverlay($event)">
                    <div class="inner rounded-2 overflow-hidden position-relative">
                        <img class="w-100 d-block" src="/images/image- (1).png" alt="" />
                        <div class="card-layer">
                            <div
                                class="d-flex align-items-center justify-content-center w-100 h-100"
                            >
                                <i class="fa-solid fa-plus h-50 w-100 text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" (click)="openOverlay($event)">
                    <div class="inner rounded-2 overflow-hidden position-relative">
                        <img class="w-100 d-block" src="/images/image- (2).png" alt="" />
                        <div class="card-layer">
                            <div
                                class="d-flex align-items-center justify-content-center w-100 h-100"
                            >
                                <i class="fa-solid fa-plus h-50 w-100 text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" (click)="openOverlay($event)">
                    <div class="inner rounded-2 overflow-hidden position-relative">
                        <img class="w-100 d-block" src="/images/image-.png" alt="" />
                        <div class="card-layer">
                            <div
                                class="d-flex align-items-center justify-content-center w-100 h-100"
                            >
                                <i class="fa-solid fa-plus h-50 w-100 text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" (click)="openOverlay($event)">
                    <div class="inner rounded-2 overflow-hidden position-relative">
                        <img class="w-100 d-block" src="/images/image- (2).png" alt="" />
                        <div class="card-layer">
                            <div
                                class="d-flex align-items-center justify-content-center w-100 h-100"
                            >
                                <i class="fa-solid fa-plus h-50 w-100 text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" (click)="openOverlay($event)">
                    <div class="inner rounded-2 overflow-hidden position-relative">
                        <img class="w-100 d-block" src="/images/image-.png" alt="" />
                        <div class="card-layer">
                            <div
                                class="d-flex align-items-center justify-content-center w-100 h-100"
                            >
                                <i class="fa-solid fa-plus h-50 w-100 text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" (click)="openOverlay($event)">
                    <div class="inner rounded-2 overflow-hidden position-relative">
                        <img class="w-100 d-block" src="/images/image- (1).png" alt="" />
                        <div class="card-layer">
                            <div
                                class="d-flex align-items-center justify-content-center w-100 h-100"
                            >
                                <i class="fa-solid fa-plus h-50 w-100 text-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        class="position-fixed top-0 start-0 w-100 h-100"
        (click)="closeOverlay()"
        [class]="{ 'd-none': flag }"
        style="z-index: 99999"
    >
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-25"></div>
        <div class="position-relative w-100 h-100 d-flex justify-content-center align-items-center">
            <div class="w-75 h-75 d-flex justify-content-center align-items-center">
                <img class="w-100 h-100 object-fit-contain" [src]="ClickedImg" alt="" />
            </div>
        </div>
    </div>
</section>
